export ANTA_USERNAME=ansible
export ANTA_PASSWORD=${LABPASSPHRASE}
export ANTA_ENABLE=false
export ANTA_INVENTORY=${PWD}/network-tests/inventory.yml
export ANTA_EXEC_SNAPSHOT_OUTPUT_DIRECTORY=${PWD}/network-tests/$(date +%Y-%m-%d-%Hh-%Mmin)-snapshots

